@use '../abstracts' as *;

.button {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 285px;
    padding: 10px 16px;
    background-color: $black-primary;
    color: $white-primary;

    &--secondary {
        background-color: $white-primary;
        color: $black-primary;
        border: 0.7px solid $black-primary;
    }
}