@use '../abstracts' as *;

.projects {
    font-family: $font-main;
    padding: 0 16px;

    &__title {
        margin-top: 16px;
        margin-bottom: 28px;
        font-size: clamp(3.6rem, 12vw, 7rem);
        font-weight: 700;
    }

    &__grid {
        display: grid;
        grid-template-columns: 1fr;
        gap: 24px;
        margin-block: 32px;

        @include respond-above('sm') {
            grid-template-columns: repeat(2, 1fr);
        }
    }
}